
/* HEADER */
.header-top {
    height: 50px;
}

header .nav-link  {
    color: black;
    font-weight: 500;
}


/* SECTION BUY NOW */

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 500px;
    background-position-y: 100px;
    background-position-x: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.list-game img {
    max-width: 100%;
    border-radius: 10px;
}



/* SECTION NEW RELEASES */
.on-screen {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* SECTION PLAYSTATION-PLUS */
#ps-plus {
    margin-top: 5rem;
}

#ps-plus.bg-secondary {
    --bs-bg-opacity: .5;
}

#ps-plus .bg-light {
    --bs-bg-opacity: .5;
}


/* SECTION PS-NOW */

#ps-now {
    background-color: #161c3b;
    margin-top: 5rem;
}


/* FOOTER */
footer .language-globe {
    width: 20px;
    height: 20px;
}

footer .footer-top a {
    color: white;
    text-decoration: none;
}


/* HOVER */
* .btn:hover  {
    box-shadow: inset 0 0 0 2px white;
}

#buy-now .btn.btn-danger:hover, #ps-now .btn:hover, #new-releases .btn:hover {
    box-shadow: inset 0 0 0 2px black;
}

#ps-plus .btn:hover {
    box-shadow: inset 0 0 0 2px grey;
}

#playstation-info .col-4 img, .col-md-2 img {
    cursor: pointer;
    opacity: .5;
}

#playstation-info .col-4 img:hover, .col-md-2 img:hover {

    box-shadow: 0 2px 0px 0px blue;
    opacity: 1;

}

/* TRANSITION */
.list-game .col-6, .col-sm-4, .col-lg-2 {
    cursor: pointer;
    transition: transform .5s;
}

#buy-now .list-game .col-6:hover, #buy-now .list-game .col-sm-4:hover, #buy-now .list-game .col-lg-2:hover {
    transform: translateY(-15px);
}